@import url("https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

/* INITIAL */

*,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Crimson Pro", serif; */
  font-family: "Libre Baskerville", serif;
}
:root {
  --main-bg-color: rgb(228, 228, 228);
  --text-color: #000;
  --special-color: gold;
  --grey: rgba(88, 88, 88, 0.479);
}
body,
html {
  width: 100%;
  height: 1000px;
  scroll-behavior: smooth;
}

/* MAIN */

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

/* NAVIGATION */

.topnav {
  overflow: hidden;
  width: 100%;
  height: 100px;
  position: fixed;
}
.topnav img {
  float: right;
  width: 70px;
  margin: 3em;
}

.topnav img:hover {
  cursor: pointer;
}

/* DATE */

#date_vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 23px;
  font-size: 30px;
  padding: 1em;
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

/* TIMELINE */

.theSVG svg {
  height: 90%;
  background-color: transparent;
  position: fixed;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
}
.theSVG svg {
  cursor: pointer;
}
